.intro {
    color: #ffff;
    max-width: 690px;
    padding: 114px 0 92px 148px;
    box-sizing: border-box;
}

@media screen and (max-width: 984px) {
    .intro {
        padding: 110px 0 88px 24px;
    }
}

@media screen and (max-width: 568px) {
    .intro {
        padding: 86px 16px 40px 16px;
    }
}